In [6]:
from summarytools import dfSummary

import pandas as pd

In [7]:
channels = pd.read_csv("../databases/channels.csv", sep=",")
deliveries = pd.read_csv("../databases/deliveries.csv", sep=",")
drivers = pd.read_csv("../databases/drivers.csv", sep=",")
hubs = pd.read_csv("../databases/hubs.csv", sep=",", encoding='latin1')
orders = pd.read_csv("../databases/orders.csv", sep=",")
payments = pd.read_csv("../databases/payments.csv", sep=",")
stores = pd.read_csv("../databases/stores.csv", sep=",", encoding='latin1')

In [8]:
dfs = {"channels":channels, 
       "deliveries":deliveries,
       "drivers":drivers,
       "hubs":hubs,
       "orders":orders,
       "payments":payments,
       "stores":stores}

for name, df in dfs.items():
    print(f"\n{name}:\n")
    display(df.head(2))

channels:

   channel_id channel_name channel_type
0           1  OTHER PLACE  OWN CHANNEL
1           2  PHONE PLACE  OWN CHANNEL

deliveries:

,delivery_id,delivery_order_id,driver_id,delivery_distance_meters,delivery_status
0,2174658,68413340,8378.0,5199.0,DELIVERED
1,2174660,68414309,2473.0,410.0,DELIVERED

drivers:

   driver_id driver_modal        driver_type
0        133      MOTOBOY  LOGISTIC OPERATOR
1        138      MOTOBOY          FREELANCE

hubs:

   hub_id        hub_name      hub_city hub_state  hub_latitude  hub_longitude
0       2   BLUE SHOPPING  PORTO ALEGRE        RS    -30.047415      -51.21351
1       3  GREEN SHOPPING  PORTO ALEGRE        RS    -30.037415      -51.20352

orders:

,order_id,store_id,channel_id,payment_order_id,delivery_order_id,order_status,order_amount,order_delivery_fee,order_delivery_cost,order_created_hour,...,order_moment_delivering,order_moment_delivered,order_moment_finished,order_metric_collected_time,order_metric_paused_time,order_metric_production_time,order_metric_walking_time,order_metric_expediton_speed_time,order_metric_transit_time,order_metric_cycle_time
0,68405119,3512,5,68405119,68405119,CANCELED,62.7,0.0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,68405123,3512,5,68405123,68405123,CANCELED,62.7,0.0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

payments:

,payment_id,payment_order_id,payment_amount,payment_fee,payment_method,payment_status
0,4427917,68410055,118.44,0.0,VOUCHER,PAID
1,4427918,68410055,394.81,7.9,ONLINE,PAID

stores:

,store_id,hub_id,store_name,store_segment,store_plan_price,store_latitude,store_longitude
0,3,2,CUMIURI,FOOD,0.0,NaN,NaN
1,6,3,PIMGUCIS DA VIVA,FOOD,0.0,-30.037415,-51.20352

**Dados vazios?**

In [9]:
orders.shape, orders.isnull().sum()

((368999, 29),
 order_id                                  0
 store_id                                  0
 channel_id                                0
 payment_order_id                          0
 delivery_order_id                         0
 order_status                              0
 order_amount                              0
 order_delivery_fee                        0
 order_delivery_cost                    7205
 order_created_hour                        0
 order_created_minute                      0
 order_created_day                         0
 order_created_month                       0
 order_created_year                        0
 order_moment_created                      0
 order_moment_accepted                  9461
 order_moment_ready                    25106
 order_moment_collected                42894
 order_moment_in_expedition            67429
 order_moment_delivering               25316
 order_moment_delivered               349398
 order_moment_finished                 15599
 order_metric_collected_time           51492
 order_metric_paused_time              71405
 order_metric_production_time          25107
 order_metric_walking_time             74056
 order_metric_expediton_speed_time     34582
 order_metric_transit_time             25857
 order_metric_cycle_time               15619
 dtype: int64)

In [10]:
channels.shape, channels.isnull().sum()

((40, 3),
 channel_id      0
 channel_name    0
 channel_type    0
 dtype: int64)

In [11]:
stores.shape, stores.isnull().sum()

((951, 7),
 store_id              0
 hub_id                0
 store_name            0
 store_segment         0
 store_plan_price    115
 store_latitude       16
 store_longitude      16
 dtype: int64)

In [12]:
hubs.shape, hubs.isnull().sum()

((32, 6),
 hub_id           0
 hub_name         0
 hub_city         0
 hub_state        0
 hub_latitude     0
 hub_longitude    0
 dtype: int64)

In [13]:
deliveries.shape, deliveries.isnull().sum()

((378843, 5),
 delivery_id                     0
 delivery_order_id               0
 driver_id                   15886
 delivery_distance_meters       73
 delivery_status                 0
 dtype: int64)

In [14]:
drivers.shape, drivers.isnull().sum()

((4824, 3),
 driver_id       0
 driver_modal    0
 driver_type     0
 dtype: int64)

**Cruzamento de Bases**

In [15]:
deliveriesNaN = deliveries.dropna(subset="driver_id")
deliveriesNaN["driver_id"] = deliveriesNaN["driver_id"].astype("int64")

database = orders.merge(channels, how="left", on="channel_id") \
                 .merge(stores, how="left", on="store_id") \
                 .merge(hubs, how="left", on="hub_id") \
                 .merge(deliveriesNaN, how="left", on="delivery_order_id") \
                 .merge(drivers, how="left", on="driver_id")

C:\Users\Computador\AppData\Local\Temp\ipykernel_4392\3027242523.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deliveriesNaN["driver_id"] = deliveriesNaN["driver_id"].astype("int64")

In [16]:
dfSummary(database)

C:\Users\Computador\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\summarytools\summarytools.py:124: RuntimeWarning: divide by zero encountered in scalar divide
  stats += f"<br>IQR (CV) : {x.quantile(0.75) - x.quantile(0.25):.1f} ({x.mean()/x.std():.1f})"

In [18]:
#Visualizando um pouco da base pós cruzamento
database[20:25].T

,20,21,22,23,24
order_id,68414309,68414512,68414563,68414907,68415103
store_id,236,631,955,294,631
channel_id,5,5,5,5,5
payment_order_id,68414309,68414512,68414563,68414907,68415103
delivery_order_id,68414309,68414512,68414563,68414907,68415103
order_status,FINISHED,FINISHED,FINISHED,CANCELED,FINISHED
order_amount,94.9,45.9,26.9,32.4,103.6
order_delivery_fee,11.9,11.9,0.0,9.9,11.9
order_delivery_cost,6.0,11.63,6.0,NaN,6.33
order_created_hour,14,14,14,14,14
order_created_minute,21,24,24,27,31
order_created_day,1,1,1,1,1
order_created_month,1,1,1,1,1
order_created_year,2021,2021,2021,2021,2021
order_moment_created,1/1/2021 2:21:02 PM,1/1/2021 2:24:01 PM,1/1/2021 2:24:26 PM,1/1/2021 2:27:31 PM,1/1/2021 2:31:33 PM
order_moment_accepted,1/1/2021 2:21:40 PM,1/1/2021 2:24:18 PM,1/1/2021 2:24:45 PM,NaN,1/1/2021 2:32:20 PM
order_moment_ready,1/1/2021 2:36:49 PM,1/1/2021 2:46:07 PM,1/1/2021 3:03:28 PM,NaN,1/1/2021 2:56:22 PM
order_moment_collected,1/1/2021 2:39:10 PM,1/1/2021 2:46:13 PM,1/1/2021 3:04:42 PM,NaN,1/1/2021 2:56:47 PM
order_moment_in_expedition,1/1/2021 2:42:09 PM,1/1/2021 2:46:14 PM,NaN,NaN,1/1/2021 2:56:49 PM
order_moment_delivering,1/1/2021 2:43:36 PM,1/1/2021 3:25:58 PM,1/1/2021 3:09:23 PM,NaN,1/1/2021 3:00:44 PM
order_moment_delivered,NaN,NaN,NaN,NaN,NaN
order_moment_finished,1/1/2021 2:50:20 PM,1/1/2021 3:49:47 PM,1/1/2021 3:30:56 PM,NaN,1/1/2021 3:38:55 PM
order_metric_collected_time,2.37,0.08,1.23,NaN,0.42
order_metric_paused_time,1.45,39.75,NaN,NaN,3.93
order_metric_production_time,15.78,22.1,39.03,NaN,24.82
order_metric_walking_time,5.33,0.1,NaN,NaN,0.45
order_metric_expediton_speed_time,6.78,39.85,5.92,NaN,4.38
order_metric_transit_time,6.73,23.82,21.55,NaN,38.17
order_metric_cycle_time,29.3,85.77,66.5,NaN,67.37
channel_name,FOOD PLACE,FOOD PLACE,FOOD PLACE,FOOD PLACE,FOOD PLACE
channel_type,MARKETPLACE,MARKETPLACE,MARKETPLACE,MARKETPLACE,MARKETPLACE
hub_id,13,28,51,13,28
store_name,IUMPICA,IUMPICA,CIRIROI U CAI,PAPA SUCIS,IUMPICA
store_segment,FOOD,FOOD,FOOD,FOOD,FOOD
store_plan_price,0.0,NaN,NaN,0.0,NaN
store_latitude,-22.88582,-23.595775,-22.926904,-22.88582,-23.595775
store_longitude,-43.279218,-46.685984,-43.572533,-43.279218,-46.685984
hub_name,HIP HOP SHOPPING,RAP SHOPPING,RUBY SHOPPING,HIP HOP SHOPPING,RAP SHOPPING
hub_city,RIO DE JANEIRO,SÃO PAULO,RIO DE JANEIRO,RIO DE JANEIRO,SÃO PAULO
hub_state,RJ,SP,RJ,RJ,SP
hub_latitude,-22.88582,-23.595001,-22.923675,-22.88582,-23.595001
hub_longitude,-43.279218,-46.685984,-43.567757,-43.279218,-46.685984
delivery_id,2174660.0,2174735.0,2174697.0,NaN,2174680.0
driver_id,2473.0,26154.0,23092.0,NaN,16430.0
delivery_distance_meters,410.0,5514.0,1081.0,NaN,3924.0
delivery_status,DELIVERED,DELIVERED,DELIVERED,NaN,DELIVERED
driver_modal,BIKER,MOTOBOY,BIKER,NaN,BIKER
driver_type,FREELANCE,LOGISTIC OPERATOR,FREELANCE,NaN,FREELANCE

In [36]:
round(database.loc[:, database.isnull().mean()>0].isnull().mean().sort_values(ascending=False) * 100, 1)

order_moment_delivered               94.5
store_plan_price                     23.0
order_metric_walking_time            19.8
order_metric_paused_time             19.0
order_moment_in_expedition           17.9
order_metric_collected_time          13.8
order_moment_collected               11.4
order_metric_expediton_speed_time     9.2
order_metric_transit_time             6.8
order_metric_production_time          6.7
order_moment_ready                    6.7
order_moment_delivering               6.6
delivery_distance_meters              6.4
delivery_id                           6.4
driver_modal                          6.4
delivery_status                       6.4
driver_id                             6.4
driver_type                           6.4
order_moment_finished                 4.0
order_metric_cycle_time               4.0
order_moment_accepted                 2.4
order_delivery_cost                   2.2
store_longitude                       0.4
store_latitude                        0.4
dtype: float64